/* 

AQUA:       #00b9b2;
BROWN: 		#392410

*/

/* 
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

/* END RESET CSS */

body { font:13px Helvetica, Arial, sans-serif; *font-size:small; *font:x-small; line-height:1.22; }


/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color: #222; }
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; font-size-adjust: inherit;}

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #00b9b2; }
a:hover { color: #00f9f2; }

ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* >> The Magnificent CLEARFIX << */
.cf:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cf { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.cf { display: block; }

/* Custom Fonts */

@font-face {
	font-family: 'UbuntuRegular';
	src: url('../fonts/Ubuntu-R-webfont.eot');
	src: local('☺'), url('../fonts/Ubuntu-R-webfont.woff') format('woff'), url('../fonts/Ubuntu-R-webfont.ttf') format('truetype'), url('../fonts/Ubuntu-R-webfont.svg#webfontcceGD1qN') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuItalic';
	src: url('../fonts/Ubuntu-I-webfont.eot');
	src: local('☺'), url('../fonts/Ubuntu-I-webfont.woff') format('woff'), url('../fonts/Ubuntu-I-webfont.ttf') format('truetype'), url('../fonts/Ubuntu-I-webfont.svg#webfontPxVORYT4') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuBold';
	src: url('../fonts/Ubuntu-B-webfont.eot');
	src: local('☺'), url('../fonts/Ubuntu-B-webfont.woff') format('woff'), url('../fonts/Ubuntu-B-webfont.ttf') format('truetype'), url('../fonts/Ubuntu-B-webfont.svg#webfontssbCkuz5') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuBoldItalic';
	src: url('../fonts/Ubuntu-BI-webfont.eot');
	src: local('☺'), url('../fonts/Ubuntu-BI-webfont.woff') format('woff'), url('../fonts/Ubuntu-BI-webfont.ttf') format('truetype'), url('../fonts/Ubuntu-BI-webfont.svg#webfont3JT5vc7d') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* */

body {
	background: #f4f4f4;
	font: normal 1em/1.75em Helvetica, Arial, sans-serif;;
}
h1 {
	font: normal 28px 'UbuntuRegular', sans-serif;
	color: #392410;
}
h2 {
	font: normal 24px 'UbuntuRegular', sans-serif;
	color: #392410;
}
h3, h4, h5, h6 {
	font: normal 22px 'UbuntuRegular', sans-serif;
	color: #392410;
}
div + div, h1 + p, h2 + p, p + h1, p + h2 {
	margin-top: 20px;
}
h2 + ul, p + ul {
	margin: 20px;
}
#container, #mast, #main-content, #logo, #footer {
	margin: 0 auto;
}
#container {
	width: 100%;
}
#mast {
	background: #fff url() repeat-x center bottom;
}
#logo  {
    max-width: 1280px;
	padding: 1em 1em;
}
.twitter {
    float: right;
}
#main-content {
	max-width: 1280px;
	padding: 40px 1em;
}
.contributors {
    clear: both;
}

#mMedia {
    text-align: center;
}
#mMedia h2 {
	margin: 0;
	color: #008D88;
}
#mMedia iframe {
    width: 80%;
    height: 225px;
    margin: 20px 0;
    border: 1px solid #00b9b2;
    background: #00b9b2;
}

footer {
	height: 75px;
	background-color: #00b9b2;
	text-align: center;
	color: #fff;
	font-size: .75em;
}
footer a, footer a:active, footer a:visited {
	color: #fff;
    text-decoration: underline;
}
footer a:hover {
	color: #00f9f2;
}

@media screen and (min-width: 750px) {
  /* Prevent iOS, WinMobile from adjusting font size */
    html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 

    #logo  {
        padding-right: 4em;
        padding-left: 4em;
    }
    #main-content {
        padding-right: 4em;
        padding-left: 4em;
    }

    #mMedia iframe {
        float: left;
        width: 48%;
        height: 360px;
    }
    #mMedia iframe:nth-of-type(2) {
        float: right;
    }
}